/*Normalmente esta regla la aplicamos a todos los elementos pero en este proyecto solo lo aplicaremos al body*/
body{                            
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/*al estar haciendo el nav, vemos la linea abajo de los elementos y la queremos quitar pero como seguramente lo tendremos que 
hacer para mas elementos ancla en el proyecto hacemos una regla global para todos los elementos a en la pagina aca abajo*/

a{
    text-decoration: none;  /*quita la decoracion del texto, en este caso la linea q subraya los mismos*/
    cursor: pointer; /*queremos que aparezca una manita cuando hagamos hover sobre los elementos ancla*/
}

header{
    width: 100%; 
    height: 6rem;
}

header nav{
    display: flex;   /*utilizaremos flex para mover nuestro nav dentro de header*/
    justify-content: flex-end;  /*justificaremos nuestro nav al final de la pantalla horizontal*/
}

header nav .nav-right-section{
    width: 25rem;
    height:auto; /*ya le habiamos dado una altura al padre asi que ponemos auto para que la herede*/
    display: flex; /*para colocar los elementos horizonales de la lista*/
    list-style:none; /*para quitar los bullets de la lista en cada elemento*/
    justify-content: center; /*para que centre nuestros elementos ya que por default esta justificados a uno de los lados*/
    align-items: center;
}

/*como nuestros elementos estaban pegados entre si, aplicamos estilo solo a nuestras anclas*/
nav .nav-right-section a{
    margin-right: 1rem; /*le agregara margen a la derecha de los elementos ancla de 10px para que se separen*/
    color: #000000; /*le agregamos color a los elementos, en este caso negro*/
    font-size: 1.3rem;
}

/*ahora le damos estilo a nuestro icono de menu*/
nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png"); /*utilizaremos esto para insertar la imagen en la clase que creamos en el html desde css*/
    background-repeat: no-repeat; /*esto lo utilizamos en caso la imagen al no poder ocupar todo el espacio no se repita*/
    background-position: center; /*para que nuestro icono quede siempre al centro*/
    background-size: contain; /*esto hara que el icono se aproxime al size de mi contenedor*/
    width: 2.5rem;
    height: 2.5rem;
}

/*Aca le daremos estilo a nuestro logo de perfil*/
nav .nav-right-section img{
    border-radius: 50%; /*le damos estilo redondeado del 50% a nuestro contenedor para que se convierta en un circulo*/
    margin-left: 1rem; /*le daremos un margen a nuestra imagen ya que se pego mucho al icono de menu*/
}

/*Empezamos a darle estilo a la seccion principal*/

main{
    margin-top: 15rem;  /*le agregamos un margen para separarlo de nuestro header*/
    text-align: center; /*para que todo lo q este adentro de main pueda centrarse*/
}

main .main-logo{
    width: 53rem;
    margin: 0 auto; /*despues de darle un tamano de ancho a un contenedor este se colocara justificado a la izq, para no jugar con los margenes utilizamos el atrubuto auto este lo q hara es tomar el espacio restante y dividirlo entre dos par agregar esos espacios alos lados del contendor y asi centrarlo*/
    margin-bottom: 3.5rem; /*le agregamos margen para alejarlo del input*/
}

main .main-logo img{
    width: 30rem;
}



.main-buttons{
    display: flex;
    justify-content: center;
}